@use "../base/variables" as *;

@media (min-width: 1024px) {
    .card {
        max-width: 800px;

        &__header {
            padding: 3.125em;
        }

        &__body {
            display: flex;

        }

        &__plan,
        &__info {
            width: 100%;
            padding: 3.125em;
        }
    }
}