@use "../base/variables" as *;

.card {
    width: 85%;
    max-width: 350px;
    margin: 0 auto;
    border-radius: 0.3125em;
    box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &__header {
        background-color: $bg-card-white;
        padding: 1.875em;
        color: $text-color;
        line-height: 1.7;
    }

    &__heading {
        color: $text-accent-cyan;
        margin-bottom: 1em;
    }

    &__heading-3 {
        font-size: rem(20px);
        margin-bottom: 1em;
    }

    &__text-yellow {
        color: $text-accent-yellow;
        font-weight: $fw-bold;
        margin-bottom: 1.25em;
    }

    &__body {
        color: $text-white;
    }

    &__plan {
        background-color: $bg-card;
        padding: 1.87em;
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 1em;

        &--large {
            font-size: rem(35px);
            font-weight: $fw-bold;
        }

        &--small {
            color: $text-accent-faint;
        }
    }

    &__info {
        padding: 1.875em;
        background-color: $bg-card-light;
    }
}